# fly.toml app configuration file generated for sanctuary-timeline-mgvhgw

app = 'sanctuary-timeline-mgvhgw'
primary_region = 'ams'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1

[env]
  NODE_ENV = "production"
  PORT = "3000"

[mounts]
  source = "timeline_data"
  destination = "/data"
